#siteTable div.thing.linkflair:hover{
    background-color: blueviolet;
    color: rgb(0, 255, 42);
}

#thing_t3_9wgayi:hover {
    transform: scale(1.5);
}

/* This thread is dedicated to short questions and clarifications which don't require much discussion or those that can be given definitive answers may also be asked here. */